<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="d-flex justify-content-center align-items-center bg-light" style="height: 100vh;">
<div>
    <h2 class="mb-3 text-center">Forgot Password</h2>
    <div class="alert alert-success" th:if="${successMessage}">
        <p th:text="${successMessage}"></p>
    </div>

    <div class="alert alert-danger" th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/forgot-password}" method="post">
        <div class="mb-3">
            <label>Enter your email address</label>
            <input type="email" name="email" class="form-control" required />
        </div>
        <div class="mb-3">
            <input type="submit" value="Send Reset Link" class="btn btn-primary w-100"/>
        </div>
    </form>

    <div class="text-center">
        <a th:href="@{/login}">Back to Login</a>
    </div>
</div>
</body>
</html>