<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body class="d-flex justify-content-center align-items-center bg-light" style="height: 100vh;">
     <div>
        <H1>Welcome to the home page! <i class="bi bi-house-door"></i></H1>
        <br>
            <h5>You have succesfully logged in! (Or changed your password) <i class="bi bi-file-lock"></i></h5>
            <br>
            <p>If you want to do it again, please click the link: <a th:href="@{/login}">back to login etc.</a> <i class="bi bi-box-arrow-up-right"></i></p>
            <P>Or sign out: <form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
            <p></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="appUser : ${appUsers}">
                        <td th:text="${appUser.username}">username</td>
                        <td th:text="${appUser.email}">email</td>

                        <td ><a class="btn btn-danger" th:href="@{/delete/{id}(id=${appUser.id})}">Delete</a></td>

                        <td ><a class="btn btn-primary" th:href="@{/edit/{id}(id=${appUser.id})}">Edit</a></td>
                    </tr>
                </tbody>
            </table>
		</form></P>
       </div>
    </body>
</html>