<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="d-flex justify-content-center align-items-center bg-light" style="height: 100vh;">
<div>
    <h2 class="mb-3 text-center">Create Account <i class="bi bi-person-add"></i></h2>

    <div class="alert alert-danger" th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <form th:action="@{/register}" method="post">
        <div class="mb-3">
            <label>Your username:</label>
            <input type="text" name="username" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Your password:</label>
            <input type="password" name="password" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Rewrite password:</label>
            <input type="password" name="confirmPassword" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Valid email:</label>
            <input type="email" name="email" class="form-control" required />
        </div>
        <div class="mb-3">
            <input type="submit" value="Sign Up" class="btn btn-primary w-100"/>
        </div>
    </form>

    <div class="text-center">
        <a th:href="@{/login}">Already have an account? Login</a>
    </div>
</div>
</body>
</html>
