<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body class="d-flex justify-content-center align-items-center bg-light" style="height: 100vh;">
<div>
    <h2 class="mb-3 text-center">Reset Password</h2>

    <div class="alert alert-danger" th:if="${errorMessage}">
        <p th:text="${errorMessage}"></p>
    </div>

    <form th:action="@{/reset-password}" method="post">
 
        <input type="hidden" name="token" th:value="${token}" />
        
        <div class="mb-3">
            <label>New Password</label>
            <input type="password" name="newPassword" class="form-control" required />
        </div>
        <div class="mb-3">
            <label>Confirm Password</label>
            <input type="password" name="confirmPassword" class="form-control" required />
        </div>
        <div class="mb-3">
            <input type="submit" value="Reset Password" class="btn btn-primary w-100"/>
        </div>
    </form>

    <div class="text-center">
        <a th:href="@{/login}">Back to Login</a>
    </div>
</div>
</body>
</html>